  <div id="message_id_<%= message.id %>">
    <div id="parent_<%= message.id %>">
      <div id="child_<%= message.id %>">
        <%= simple_format(message.chat) %>
      </div>
    </div>
    <div class="time">
      <p><%= message.created_at.strftime('%H:%M') %></p>
    </div>
  </div>

<!--チャットを左右へ振り分け-->
<script>
  if ($('#messages').data('current_user_id') == <%= message.user_id %>) {
    $('#message_id_<%= message.id %>').addClass('text-right')
    $('#parent_<%= message.id %>').addClass('my-chat')
  } else {
    $('#message_id_<%= message.id %>').addClass('text-left')
    $('#parent_<%= message.id %>').addClass('fukidashi')
    $('#child_<%= message.id %>').addClass('says')
  }
</script>