<div class='message' id="<%= message.id %>">
  <% if message.user_id == owner.id %>
    <div class="text-left">
      <div><%= safe_join(message.chat.split("\n"),tag(:br)) %></div>
      <%= message.created_at.strftime('%H:%M') %>
      <% if message.user_id == current_user.id %>
        <%= link_to message_path(message), method: :delete do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% elsif message.user_id == member.id %>
    <div class="text-right">
      <div><%= safe_join(message.chat.split("\n"),tag(:br)) %></div>
      <%= message.created_at.strftime('%H:%M') %>
      <% if message.user_id == current_user.id %>
        <%= link_to message_path(message), method: :delete do %>
          <i class="fas fa-times"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>