<%= render 'layouts/errors', obj: resource %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2 class="heading mt-4">新規登録画面</h2>
      </div>

      <%= form_with model: @user, url: user_registration_path do |f| %>

          <div class="field col-md-6 col-sm-12 mt-3 mx-auto">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: 'form-control' %>
          </div>

          <div class="field col-md-6 col-sm-12 mt-3 mx-auto">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="field col-md-6 col-sm-12 mt-3 mx-auto">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="field col-md-6 col-sm-12 mt-3 mx-auto">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>


        <div class="row mt-3">
          <div class="col-4 link mt-3 text-right mx-auto">
            <p>既に会員登録済みの方は<%= link_to "こちら", new_user_session_path %> </p>
          </div>

          <div class="col-3 actions mt-3 mx-auto">
            <%= f.submit "新規登録", class: 'btn btn-success' %>
          </div>
        </div>
      <% end %>
</div>
  </div>
</div>