<table>
  <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to(post.user) do %>
          <%= image_tag comment.user.get_image(50,50) %><br>
          <%= comment.user.nickname %>
        <% end %>
      </td>
      <td><%= safe_join(comment.comment.split("\n"),tag(:br)) %></td>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      <% if current_user.id == comment.user_id %>
      <td><%= link_to '削除', post_comment_path(comment.post_id, comment), method: :delete, class: 'btn btn-danger btn-sm', "data-confirm" => "本当に消しますか？", remote: true %> </td>
      <% end %>
    </tr>
  <% end %>
</table>