<div class='message'>
  <% messages.each do |message| %>
    <% if message.user_id != owner.id %>
      <div class="text-left fukidashi">
        <div class="says">
          <p><%= safe_join(message.chat.split("\n"),tag(:br)) %></p>
        </div>
        <div class="time">
          <p><%= message.created_at.strftime('%H:%M') %></p>
        </div>
      </div>
    <% else %>
      <div class="text-right">
        <div class="my-chat">
          <p><%= safe_join(message.chat.split("\n"),tag(:br)) %></p>
        </div>
        <div class="time">
          <p>
          <%= message.created_at.strftime('%H:%M') %>
          <% if message.user_id == current_user.id %>
            <%= link_to message_path(message), method: :delete do %>
              <i class="fas fa-times"></i>
            <% end %>
          <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>