<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="heading mt-4">ルーム一覧</h2>
    </div>
    <div class="row mt-3">
      <div class="col-11 mx-4 admin">
        <table class="table" style="table-layout:fixed;">
          <thead>
            <tr>
              <th>ID.オーナー</th>
              <th>ID.メンバー</th>
              <th></th>
            </tr>
          </thead>
          <% @rooms.each do |room| %>
            <tr>
              <td><%= room.owner_id %>.<%= room.owner.nickname %></td>
              <td><%= room.member_id %>.<%= room.member.nickname %></td>
              <td><%= link_to "詳細ページ", admin_room_path(room) %></td>
            </tr>
          <% end %>
        </table>
        <% if @rooms.blank? %>
          <p>現在開催中のルームはありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>