<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="heading mt-4"><%= @user.nickname %>さんの紹介文</h2>
    </div>
    <div class="col-3 sticky-top side m-2">
      <%= render 'users/info', user: current_user %>
    </div>

    <div class="col-8">
      <% if @introduces.blank? %>
        <p class="mt-3">紹介文はまだありません</p>
      <% end %>
      <% @introduces.each do |introduce| %>
        <div class="row">
          <div class="col">
            <table class="m-3">
            <td><%= image_tag introduce.introduce_from_user.get_image(50,50) %></td>
            <td><%= introduce.introduce_from_user.nickname %></td>
            </table>
          </div>
          <% if introduce.introduce_from_user_id == current_user.id %>
            <div class="col d-flex align-items-center">
              <%= link_to "編集", edit_user_introduce_path(@user, introduce), class: 'btn btn-success mx-2' %>
              <%= link_to "削除", user_introduce_path(@user, introduce), method: :delete, class: 'btn btn-danger mx-2' %>
            </div>
          <% end %>
        </div>
        <div class="introduce-box">
          <p class="m-2"><%= safe_join(introduce.body.split("\n"),tag(:br)) %></p>
        </div>
      <% end %>
      <%= paginate @introduces %>
    </div>
  </div>
</div>