<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="heading mt-4"><%= @user.nickname %>さんの紹介文</h2>
    </div>
    <div class="col-3 sticky-top side m-2">
      <%= render 'users/info', user: current_user %>
    </div>

    <div class="col-8">
        <% @introduces.each do |introduce| %>
          <div class="row">
            <div class="col">
              <table class="m-3">
              <td><%= image_tag introduce.introduce_from_user.get_image(50,50) %></td>
              <td><%= introduce.introduce_from_user.nickname %></td>
              </table>
            </div>
            <% if introduce.introduce_from_user_id == current_user.id %>
              <div class="col">
                <%= link_to "編集", edit_user_introduce_path(@user, introduce) %>
                <%= link_to "削除", user_introduce_path(@user, introduce), method: :delete %>
              </div>
            <% end %>
          </div>

          <tr>
            <td colspan=4><%= safe_join(introduce.body.split("\n"),tag(:br)) %></td>
          </tr>
        <% end %>
    </div>
  </div>
</div>