<div class="container">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="heading mt-4">ユーザーページ!!</h2>
    </div>
    <div class="col-3 sticky-top side m-2">
      <%= render 'info', user: current_user %>
    </div>
    <div class="col-8">
      <div class="col-8 offset-1">
        <p class="h4 mt-4"><%= @user.nickname %>さんの詳細情報</p>
        <table class="table table-borderless">
          <tr>
            <td class="text-center"><%= image_tag @user.get_image(100,100) %></td>
            <td class="align-middle"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">自己紹介:</td>
          </tr>
          <td colspan="2"><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></td>
          <tr>
            <td class="col-5 font-weight-bold">プレイスタイル:</td>
            <td class="font-weight-bold" >活動時間:</td>
          </tr>
          <tr>
            <td><%= @user.playstyle_i18n %></td>
            <td><%= @user.activetime %></td>
          </tr>
          <td>
            <% if current_user == @user %>
              <%= link_to "編集", edit_user_path(@user), class: 'btn btn-outline-success' %>
            <% end %>
            <%= render 'relationships/follow_btn', user: @user %>
          </td>
          <% if @user != current_user %>
            <td><%= link_to "紹介文を書く", new_user_introduce_path(params[:id]), class: 'btn btn-info' %></td>
          <% else %>
            <td></td>
          <% end %>
        </table>
      </div>

        <h5>最新の投稿</h5>
        <% if @posts.blank? %>
          <P>まだ投稿していません。</P>
        <% else %>
          <%= link_to search_path(range: "UserPosts", word: @user.nickname, id: @user.id) do %>
            <%= @user.nickname %>さんの投稿一覧はこちら!!
          <% end %>
          <table class="table table-borderless">
            <%= render 'posts/index', posts: @posts %>
          </table>
        <% end %>
    </div>
  </div>
</div>