<div class="container">
  <div class="row">
    <div class="col-7 offset-1">
      <h2 class="heading mt-4"><%= @owner.nickname %>と<%= @member.nickname %>のチャットルーム</h2>
    </div>
    <div class="col-3 d-flex align-items-end">
      <%= link_to "ルーム解散", room_path(@room), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>

  <div class="col mt-2 room-info">
    <h4 class="match_<%= @match.id %>">ルーム情報</h4>
        <table>
          <td style="padding-right: 20px;"><strong>ゲーム名：</strong><%= @match.game_name %>  </td>
          <td><strong>ハード名：</strong><%= @match.game_hard %></td>
        </table>
        <p>
          <strong>ルームコメント：</strong><br>
          <%= safe_join(@match.room_comment.split("\n"),tag(:br)) %>
        </p>
  </div>

  <div class="row">
    <h4 class="col-12 text-center">チャット</h4>
    <!--スマホレスポンシブ対応-->
    <div class="col d-block d-md-none text-center font-weight-bold">
      <% if @owner.id != current_user.id %>
        <%= link_to user_path(@owner.id) do %>
          <%= image_tag @owner.get_image(100,100) %><br>
          <%= @owner.nickname %>
        <% end %>
      <% else %>
        <%= link_to user_path(@member.id) do %>
          <%= image_tag @member.get_image(100,100) %><br>
          <%= @member.nickname %>
        <% end %>
      <% end %>
    </div>
    <div class="col d-block d-md-none text-center font-weight-bold">
      <%= link_to user_path(current_user.id) do %>
        <%= image_tag current_user.get_image(100,100) %><br>
        <%= current_user.nickname %>
      <% end %>
    </div>
    <!--PCレスポンシブ対応-->
    <div class="col-sm-2 d-none d-md-block text-center font-weight-bold">
      <% if @owner.id != current_user.id %>
        <%= link_to user_path(@owner.id) do %>
          <%= image_tag @owner.get_image(100,100) %><br>
          <%= @owner.nickname %>
        <% end %>
      <% else %>
        <%= link_to user_path(@member.id) do %>
          <%= image_tag @member.get_image(100,100) %><br>
          <%= @member.nickname %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="room-message" id='messages' data-room_id="<%= @room.id %>">
        <%= render @messages %>
      </div>
      <div class="room-chat">
        <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, placeholder: "Enterで送信", class: 'form-control mb-2' %>
      </div>
    </div>
    <div class="col-2 d-none d-md-block text-center font-weight-bold">
      <%= link_to user_path(current_user.id) do %>
        <%= image_tag current_user.get_image(100,100) %><br>
        <%= current_user.nickname %>
      <% end %>
    </div>
  </div>
  
</div>