<div class="container mt-4">
  <div class="row">
    <div class="col-8 offset-1 mt-2">
      <p class="h4"><%= @owner.nickname %>と<%= @member.nickname %>のチャットルーム</p>
    </div>
    <div class="col-3">
      <%= link_to "ルーム解散", room_path(@room), method: :delete, class: 'btn btn-danger' %>
    </div>
  </div>

    <div class="row mt-2">
      <p class="col-12">ルーム情報</p>
      <p class="col-12 ml-3">ルームコメント：<%= @match.room_comment %><br></p>
      <p class="col-12 ml-3">ゲーム名：<%= @match.game_name %></p>
    </div>

  <div class="row">
    <p class="col-12">チャット</p>
    <div class="col-2 text-center font-weight-bold">
      <%= link_to user_path(@owner.id) do %>
        <%= image_tag @owner.get_image(100,100) %><br>
        <%= @owner.nickname %>
      <% end %>
    </div>

    <div class="col-8">
      <div class="message">
        <% @room.messages.each do |message| %>
          <% if message.user_id == @owner.id %>
            <div class="text-left">
              <div><%= safe_join(message.chat.split("\n"),tag(:br)) %></div>
              <%= message.created_at.strftime('%H:%M') %>
              <% if message.user_id == current_user.id %>
                <%= link_to message_path(message), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end %>
            </div>
          <% elsif message.user_id == @member.id %>
            <div class="text-right">
              <div><%= safe_join(message.chat.split("\n"),tag(:br)) %></div>
              <%= message.created_at.strftime('%H:%M') %>
              <% if message.user_id == current_user.id %>
                <%= link_to message_path(message), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= form_with model: @message do |f| %>
        <%= f.text_area :chat, style: "width:100%", placeholder: "コメントをここに", class: "mt-3", value: "" %><br>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>

    <div class="col-2 text-center font-weight-bold">
      <%= link_to user_path(@member.id) do %>
        <%= image_tag @member.get_image(100,100) %><br>
        <%= @member.nickname %>
      <% end %>
    </div>
  </div>
</div>