<% posts.each do |post| %>
  <div class="post_<%= post.id %> post-box">
    <table>
      <td class="mx-4">
        <%= link_to(post.user) do %>
          <%= image_tag post.user.get_image(80,80) %><br>
          <p class="text-center"><%= post.user.nickname %></p>
        <% end %>
      </td>
      <td style="width:80px;"></td>
      <td>
        <%= link_to post_path(post) do %>
          <p class="post-title"><%= post.title %></p>
        <% end %>
      </td>
    </table>
    <table style="display:flex">
      <td>
        <i class="fas fa-tag"></i>
        <% if post.tags.present? %>
          <% post.tags.each do |tag| %>
            <%= link_to tag.name, search_path(range: "Tag", word: tag.name) %>
          <% end %>
        <% else %>
          タグ無し
        <% end %>
      </td>
      <td style="width:40px;"></td>
      <td id="favorite_buttons_<%= post.id %>">
        <%= render 'favorites/favorite_btn', post: post %>
      </td>
      <td style="width:20px;"></td>
      <td>コメント：<%= post.comments.count %>件</td>
    </table>
  <p class="text-right mb-0">投稿日：<%= post.created_at.strftime('%y年%m月%d日') %></p>
  </div>
<% end %>

