<%= render 'layouts/errors', obj: @post %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h2 class="heading mt-4">投稿編集ページ</h2>
      </div>
      <%= form_with model: @post do |f| %>
        <div class="field col-md-6 col-sm-11 mt-3 mx-auto">
          <%= f.label :タイトル, class: 'font-weight-bold' %>
          <%= f.text_field :title, autoforcus: true, class: 'form-control' %>
        </div>

        <div class="field col-md-6 col-sm-11 mt-3 mx-auto">
          <%= f.label :投稿内容, class: 'font-weight-bold' %>
          <%= f.text_area :body, class: 'form-control', rows: 5 %>
        </div>

        <div class="field col-md-6 col-sm-11 mt-3 mx-auto">
          <%= f.label"タグ (,で区切ると複数タグ登録できます)" %>
          <%= f.text_field :name, value: @tags ,class:"form-control"%>
        </div>

        <div class="action col-md-6 col-sm-11 text-right mt-3 mx-auto">
          <%= f.submit "変更", class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>