<div class="container mt-4">
  <div class="row">
    <%= render 'users/info', user: current_user %>

    <div class="col-8">
      <p class="h4"><%= @post.title %></p>
      <div class="col offset-1">
        <table class="table table-borderless">
          <tr>
            <th style="width:80px;"><%= image_tag @post.user.get_image(80,80) %></th>
            <th class="align-middle col-3">
              <%= link_to user_path(@post.user_id) do %>
                <%= @post.user.nickname %>
              <% end %>
            </th>
            <th class="align-middle" id="favorite_buttons_<%= @post.id %>"><%= render 'favorites/favorite_btn', post: @post %></th>
            <% if @post.user_id == current_user.id %>
              <div class="text-right">
                <th class="align-bottom"><%= link_to "投稿を編集", edit_post_path(params[:id]), class: 'btn btn-success btn-sm' %></th>
                <th class="align-bottom"><%= link_to "投稿を削除", post_path(params[:id]), method: :delete, class: 'btn btn-danger btn-sm' %></th>
              </div>
            <% end %>
          </tr>
          <tr>
            <td colspan="5"><%= safe_join(@post.body.split("\n"),tag(:br)) %></td>
          </tr>
          <tr>
            <td colspan="5">
              <i class="fas fa-tag"></i>
              <% @tags.each do |tag| %>
              <!--pathを修正-->
                <%= link_to tag.name, root_path(name: tag.name) %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>

      <p class="h4 mt-3">コメント</p>
      <div class="comment">
        <table>
          <% @post.comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to(@post.user) do %>
                  <%= image_tag comment.user.get_image(50,50) %><br>
                  <%= comment.user.nickname %>
                <% end %>
              </td>
              <td><%= safe_join(comment.comment.split("\n"),tag(:br)) %></td>
              <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <% if current_user.id == comment.user_id %>
              <td><%= link_to '削除', post_comment_path(comment.post_id, comment), method: :delete, class: 'btn btn-danger btn-sm', "data-confirm" => "本当に消しますか？", remote: true %> </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <%= form_with model: [@post, @comment], local: false do |f| %>
        <%= f.text_area :comment, rows:5, style: "width:100%", placeholder: "コメントをここに", class: "mt-3", value: "" %><br>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>