<div class="container">
  <div class="row">
    <div class="col-md-6 offset-1">
      <h2 class="heading mt-4"><%= @user.nickname %>の詳細ページ</h2>
    </div>
    <div class="col-md-3 d-flex align-items-end">
      <% if @user.is_user_deleted == false  %>
        <p>会員ステータス：<span class="text-success font-weight-bold">可動中</span></p>
      <% elsif %>
        <p>会員ステータス：<span class="text-muted">停止中</span></p>
      <% end %>
    </div>
  </div>
      <div class="col box">
        <p class="h4 mt-4"><%= @user.nickname %>さんの詳細情報</p>
        <table class="table table-borderless">
          <tr>
            <td class="text-center"><%= image_tag @user.get_image(100,100) %></td>
            <td class="align-middle" style="font-size: 26px;"><%= @user.nickname %></td>
          </tr>
          <tr>
            <td class="font-weight-bold">自己紹介:</td>
          </tr>
          <td colspan="2"><%= safe_join("#{@user.introduction}".split("\n"),tag(:br)) %></td>
          <tr>
            <td class="col-5 font-weight-bold">プレイスタイル:</td>
            <td class="font-weight-bold" >活動時間:</td>
          </tr>
          <tr>
            <td><%= @user.playstyle_i18n %></td>
            <td><%= @user.activetime %></td>
          </tr>
        </table>
        </div>

  <div class="row mt-3 text-center admin">
    <div class="col-md-3 admin-btn">
      <%= link_to edit_admin_user_path(@user) do %>
        <p>会員情報編集</p>
      <% end %>
    </div>
    <div class="col-md-3 admin-btn">
      <%= link_to admin_search_path(user_id: @user.id, range: "post") do %>
        <p>投稿一覧</p>
      <% end %>
    </div>
    <div class="col-md-3 admin-btn">
      <%= link_to admin_search_path(introduce_from_user_id: @user.id, range: "introduce") do %>
        <p>紹介文一覧</p>
      <% end %>
    </div>
    <div class="col-md-3 admin-btn">
      <%= link_to admin_root_path do %>
        <p>管理者TOPへ</p>
      <% end %>
    </div>
  </div>
</div>