<!DOCTYPE html>
<html>
  <head>
    <title>GAME部</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--Javascriptにrailsの環境変数を渡す-->
    <%= include_gon %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <!-- ユーザーと紐付けたいため、ユーザーがサインインしているときのみ通知のON/OFFボタンを表示させる-->
    <% if user_signed_in? and current_user.role == 0 %>
      <%= javascript_pack_tag 'onesignal' %>
    <% end %>
  </head>

  <body>
    <div class="whole">
      <%= render 'layouts/header' %>
      <main>
        <div class="text-right">
          <%= content_tag(:div, flash[:alert], class: "alert alert-danger text-left m-0") if flash[:alert] %>
          <%= content_tag(:div, flash[:notice], class: "alert alert-success text-left m-0") if flash[:notice] %>
        </div>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
