<!DOCTYPE html>
<html>
  <head>
    <title>GAME部</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

    <script>
      // ユーザーと紐付けたいため、ユーザーがサインインしているときのみ通知のON/OFFボタンを表示させます
      <% if user_signed_in? and current_user.role == 0 %>
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
          OneSignal.init({
            appId: "82541a18-3477-40cc-9f73-aab911d2e9ab",
            notifyButton: {
              enable: true,
            }
          });
        });
      OneSignal.push(function() {
        OneSignal.on('subscriptionChange', function (isSubscribed) {
          OneSignal.getUserId(function(userId) {

    　　　　　// 登録した時の処理
            if (isSubscribed) {
              $.ajax({
                url:'/onesignal/<%= current_user.id %>/add',
                type: 'POST',
                data: {
                  onesignal_user_id: userId,
                }
              });

    　　　　　// 解除した時の処理
            } else {
              $.ajax({
                url:'/onesignal/<%= current_user.id %>/add',
                type: 'POST',
                data: {
                  onesignal_user_id: userId,
                }
              });
            }

          });
        });
      });
      <% end %>
    </script>
  </head>

  <body>
    <div class="whole">
      <%= render 'layouts/header' %>
      <main>
        <div class="text-right">
          <%= content_tag(:div, flash[:alert], class: "alert alert-danger text-left m-0") if flash[:alert] %>
          <%= content_tag(:div, flash[:notice], class: "alert alert-success text-left m-0") if flash[:notice] %>
        </div>
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
